# LARGE FILES
/raw/*.parquet
/processed/cleaned_data/*.parquet
/processed/flags_for_analysis/*.parquet
/reports/*.csv
/reports/cluster_zone/*.parquet
/figures/*/*.png

# PYTHON & VSCODE
__pycache__/
*.pyc
.vscode/

# JUPYTER
.ipynb_checkpoints/